/* Shared styles for all status effect tags */
strengthened,
decaying,
weakened,
wet,
berserked,
bolstereddefense,
bolsteredresistance,
sundereddefense,
sunderedresistance,
burning,
frozen,
bleeding,
ghostfire,
poisoned,
blinded,
immobilized,
slowed,
diseased,
marked,
stunned,
condemned,
electrified {
    max-width: 30px;
    top: 7px;
    position: relative;
    margin-top: -10px;
}

/* Unique content property for each tag */
strengthened {
    content: url(/aow4db/Icons/StatusEffects/strengthened.png);
}
decaying {
    content: url(/aow4db/Icons/StatusEffects/decaying.png);
}
weakened {
    content: url(/aow4db/Icons/StatusEffects/weakened.png);
}
wet {
    content: url(/aow4db/Icons/StatusEffects/wet.png);
}
berserked {
    content: url(/aow4db/Icons/StatusEffects/berserk.png);
}

bolstereddefense {
    content: url(/aow4db/Icons/StatusEffects/bolstereddefense.png);
}
sunderedresistance {
    content: url(/aow4db/Icons/StatusEffects/sunderedresistance.png);
}
sundereddefense {
    content: url(/aow4db/Icons/StatusEffects/sundereddefense.png);
}
bolsteredresistance {
    content: url(/aow4db/Icons/StatusEffects/bolsteredresistance.png);
}
bleeding {
    content: url(/aow4db/Icons/StatusEffects/bleeding.png);
}
frozen {
    content: url(/aow4db/Icons/StatusEffects/frozen.png);
}
burning {
    content: url(/aow4db/Icons/StatusEffects/burning.png);
}

ghostfire {
    content: url(/aow4db/Icons/StatusEffects/ghostfire.png);
}
poisoned {
    content: url(/aow4db/Icons/StatusEffects/poisoned.png);
}
blinded {
    content: url(/aow4db/Icons/StatusEffects/blinded.png);
}

immobilized {
    content: url(/aow4db/Icons/StatusEffects/immobilized.png);
}
slowed {
    content: url(/aow4db/Icons/StatusEffects/slowed.png);
}

diseased {
    content: url(/aow4db/Icons/StatusEffects/diseased.png);
}
marked {
    content: url(/aow4db/Icons/StatusEffects/marked.png);
}
stunned {
    content: url(/aow4db/Icons/StatusEffects/stunned.png);
}
condemned {
    content: url(/aow4db/Icons/StatusEffects/condemned.png);
}
electrified {
    content: url(/aow4db/Icons/StatusEffects/electrified.png);
}

/* ///////////////////////////////////// status effect tags */
renown {
    max-width: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/renown.png);
    position: relative;
}
influence {
    max-width: 25px;
    top: 3px;
    content: url(/aow4db/Icons/Text/imperium.png);
    position: relative;
}

food {
    max-height: 15px;
    top: 3px;
    content: url(/aow4db/Icons/Text/food.png);
    position: relative;
}

caststrategic {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/strategiccombatpoints.png);
    position: relative;
}

optactical {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/tacticalcombatpoints.png);
    position: relative;
}

casttactical {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/tacticalcombatpoints.png);
    position: relative;
}

unitSupport {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/support_unit.png);
    position: relative;
}

unitBattleMage {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/battle_mage_unit.png);
    position: relative;
}

unitShield {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/shield_unit.png);
    position: relative;
}

unitPolearm {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/polearm_unit.png);
    position: relative;
}

unitRanged {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/ranged_unit.png);
    position: relative;
}

unitFighter {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/fighter_unit.png);
    position: relative;
}

unitScout {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/scout_unit.png);
    position: relative;
}

unitMythic {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/mythic_unit.png);
    position: relative;
}

unitSkirmisher {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/skirmisher_unit.png);
    position: relative;
}

unitShock {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/shock_unit.png);
    position: relative;
}

unitTower {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/tower.png);
    position: relative;
}

unitSiegecraft {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/siegecraft.png);
    position: relative;
}

unitCivilian {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/UnitIcons/civilian.png);
    position: relative;
}

unitCavalry {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/UnitIcons/cavalry.png);
    position: relative;
}

unitPlant {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/UnitIcons/plant.png);
    position: relative;
}

unitConstruct {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/UnitIcons/construct.png);
    position: relative;
}

unitFey {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/UnitIcons/fey.png);
    position: relative;
}

unitAnimal {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/UnitIcons/animal.png);
    position: relative;
}

knowledge {
    max-height: 15px;
    top: 3px;
    content: url(/aow4db/Icons/Text/knowledge.png);
    position: relative;
}

empirechaos {
    max-height: 15px;
    top: 3px;
    content: url(/aow4db/Icons/Text/chaos.png);
    position: relative;
}

empirenature {
    max-height: 15px;
    top: 3px;
    content: url(/aow4db/Icons/Text/nature.png);
    position: relative;
}

empirearcana,
empireastral {
    max-height: 15px;
    top: 3px;
    content: url(/aow4db/Icons/Text/astral.png);
    position: relative;
}

empireshadow {
    max-height: 15px;
    top: 3px;
    content: url(/aow4db/Icons/Text/shadow.png);
    position: relative;
}

empirematter,
empirematerium {
    max-height: 15px;
    top: 3px;
    content: url(/aow4db/Icons/Text/materium.png);
    position: relative;
}

empireorder {
    max-height: 15px;
    top: 3px;
    content: url(/aow4db/Icons/Text/order.png);
    position: relative;
}

empirechaosBig {
    max-height: 25px;
    top: 3px;
    content: url(/aow4db/Icons/Text/chaos.png);
    position: relative;
}

empirenatureBig {
    max-height: 25px;
    top: 3px;
    content: url(/aow4db/Icons/Text/nature.png);
    position: relative;
}

empirearcanaBig,
empireastralBig {
    max-height: 25px;
    top: 3px;
    content: url(/aow4db/Icons/Text/astral.png);
    position: relative;
}

empireshadowBig {
    max-height: 25px;
    top: 3px;
    content: url(/aow4db/Icons/Text/shadow.png);
    position: relative;
}

empirematterBig,
empiremateriumBig {
    max-height: 25px;
    top: 3px;
    content: url(/aow4db/Icons/Text/materium.png);
    position: relative;
}

empireorderBig {
    max-height: 25px;
    top: 3px;
    content: url(/aow4db/Icons/Text/order.png);
    position: relative;
}

chaos {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/chaosInv.png);
    position: relative;
}

nature {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/natureInv.png);
    position: relative;
}

arcana {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/astralInv.png);
    position: relative;
}

shadow {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/shadowInv.png);
    position: relative;
}

matter {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/materiumInv.png);
    position: relative;
}

order {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/orderInv.png);
    position: relative;
}

general {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/EmpireProgressionIcons/general.png);
    position: relative;
}

garrison {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/fortification.png);
    position: relative;
}

structureprod {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/production.png);
    position: relative;
}

reputation8 {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/puregood.png);
    position: relative;
}

reputation6,
reputation7,
goodact {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/good.png);
    position: relative;
}

reputation4 {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/neutral.png);
    position: relative;
}

reputation2,
reputation1,
evilact {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/evil.png);
    position: relative;
}

reputation0 {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/pureEvil.png);
    position: relative;
}

forester {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/forester.png);
    position: relative;
}

farm {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/farm.png);
    position: relative;
}

farms {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/farm.png);
    position: relative;
}

conduit {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/conduit.png);
    position: relative;
}

hut {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/hut.png);
    position: relative;
}

mine {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/mine.png);
    position: relative;
}

fishery {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/fishery.png);
    position: relative;
}

quarry {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/quarry.png);
    position: relative;
}

researchpost {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/researchpost.png);
    position: relative;
}

teleporter {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/teleporter.png);
    position: relative;
}

magicvictory {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/magicvictory.png);
    position: relative;
}

bronzewonder {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/bronze.png);
    position: relative;
}

silverwonder {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/silver.png);
    position: relative;
}

goldwonder {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/goldWonder.png);
    position: relative;
}

hero {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/hero.png);
    position: relative;
}

siegehealthdamage {
    max-width: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/siegehealth.png);
    position: relative;
}

pantheon {
    max-width: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/pantheon.png);
    position: relative;
}

dragondawn {
    max-width: 15px;
    top: 3px;
    content: url(/aow4db/Icons/Text/DragonDawn.png);
    position: relative;
}

mountSpecial {
    max-width: 20px;
    top: 5px;
    content: url(/aow4db/Icons/Text/MountInteraction.png);
    position: relative;
}

ash_sabertooth {
    max-width: 20px;
    top: 5px;
    content: url(/aow4db/Icons/Text/primal_ash_sabertooth.png);
    position: relative;
}

dune_serpent {
    max-width: 20px;
    top: 5px;
    content: url(/aow4db/Icons/Text/primal_dune_serpent.png);
    position: relative;
}

glacial_mammoth {
    max-width: 20px;
    top: 5px;
    content: url(/aow4db/Icons/Text/primal_glacial_mammoth.png);
    position: relative;
}

mire_crocodile {
    max-width: 20px;
    top: 5px;
    content: url(/aow4db/Icons/Text/primal_mire_crocodile.png);
    position: relative;
}

storm_crow {
    max-width: 20px;
    top: 5px;
    content: url(/aow4db/Icons/Text/primal_storm_crow.png);
    position: relative;
}

sylvan_wolf {
    max-width: 20px;
    top: 5px;
    content: url(/aow4db/Icons/Text/primal_sylvan_wolf.png);
    position: relative;
}

tunneling_spider {
    max-width: 20px;
    top: 5px;
    content: url(/aow4db/Icons/Text/primal_tunneling_spider.png);
    position: relative;
}

attunement {
    max-width: 20px;
    top: 5px;
    content: url(/aow4db/Icons/Text/attunement.png);
    position: relative;
}

potential {
    max-width: 20px;
    top: 5px;
    content: url(/aow4db/Icons/Text/potential.png);
    position: relative;
}

summoning {
    max-width: 20px;
    top: 5px;
    content: url(/aow4db/Icons/Text/summoning.png);
    position: relative;
}

thralls {
    max-width: 20px;
    top: 5px;
    content: url(/aow4db/Icons/Text/thrall.png);
    position: relative;
}

once {
    max-width: 20px;
    top: 5px;
    content: url(/aow4db/Icons/Text/once.png);
    position: relative;
}

tierI {
    max-width: 20px;
    top: -2px;
    content: url(/aow4db/Icons/Text/tierI.png);
    position: relative;
}

tierII {
    max-width: 20px;
    top: -2px;
    content: url(/aow4db/Icons/Text/tierII.png);
    position: relative;
}

tierIII {
    max-width: 20px;
    top: -2px;
    content: url(/aow4db/Icons/Text/tierIII.png);
    position: relative;
}

tierIV {
    max-width: 20px;
    top: -2px;
    content: url(/aow4db/Icons/Text/tierIV.png);
    position: relative;
}

tierV {
    max-width: 20px;
    top: -2px;
    content: url(/aow4db/Icons/Text/tierV.png);
    position: relative;
}

unit {
    max-width: 20px;
    top: 5px;
    content: url(/aow4db/Icons/Text/unit.png);
    position: relative;
}

structure {
    max-width: 20px;
    top: 5px;
    content: url(/aow4db/Icons/Text/city.png);
    position: relative;
}

medal_soldier {
    max-width: 20px;
    top: 8px;
    content: url(/aow4db/Icons/Text/medal_soldier.png);
    position: relative;
}

medal_veteran {
    max-width: 20px;
    top: 8px;
    content: url(/aow4db/Icons/Text/medal_veteran.png);
    position: relative;
}

medal_elite {
    max-width: 20px;
    top: 8px;
    content: url(/aow4db/Icons/Text/medal_elite.png);
    position: relative;
}

medal_champion,
medalgold {
    max-width: 20px;
    top: 8px;
    content: url(/aow4db/Icons/Text/medal_champion.png);
    position: relative;
}

medal_legend {
    max-width: 20px;
    top: 8px;
    content: url(/aow4db/Icons/Text/medal_legend.png);
    position: relative;
}

bindingessence {
    max-width: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/bindingEssence.png);
    position: relative;
}

astralechoes {
    max-width: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/astral_echoes.png);
    position: relative;
}

xp {
    max-height: 15px;
    top: 2px;
    content: url(/aow4db/Icons/Text/xp.png);
    position: relative;
}

favourite {
    max-height: 15px;
    top: 2px;
    content: url(/aow4db/Icons/Interface/fav.png);
    position: relative;
}

gold {
    max-height: 20px;
    top: 3px;
    left: 3px;
    content: url(/aow4db/Icons/Text/gold.png);
    position: relative;
}

mana {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/mana.png);
    position: relative;
}

unitprod {
    max-height: 20px;
    content: url(/aow4db/Icons/Text/draft.png);
    position: relative;
}

population {
    max-height: 15px;
    top: 3px;
    content: url(/aow4db/Icons/Text/population.png);
    position: relative;
}

production {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/production.png);
    position: relative;
}

research {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/knowledge.png);
    position: relative;
}

damageblight {
    max-height: 20px;
    top: 4px;
    position: relative;
    content: url(/aow4db/Icons/Text/blight.png);
}

damagefire {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/fire.png);
    position: relative;
}

damagespirit {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/spirit.png);
    position: relative;
}

damagelightning {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/shock.png);
    position: relative;
}

DamagePhysical {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/physical.png);
    position: relative;
}

damagefrost {
    max-height: 20px;
    top: 5px;
    content: url(/aow4db/Icons/Text/ice.png);
    position: relative;
}

turn {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/turn.png);
    position: relative;
}

resistance {
    max-height: 15px;
    top: 3px;
    content: url(/aow4db/Icons/Text/resistance.png);
    position: relative;
}

defense {
    max-height: 15px;
    top: 3px;
    content: url(/aow4db/Icons/Text/armor.png);
    position: relative;
}

defensefire {
    max-height: 15px;
    top: 3px;
    content: url(/aow4db/Icons/Text/fire_resistance.png);
    position: relative;
}

defenselightning {
    max-height: 15px;
    top: 3px;
    content: url(/aow4db/Icons/Text/lightning_resistance.png);
    position: relative;
}

defenseblight {
    max-height: 15px;
    top: 3px;
    content: url(/aow4db/Icons/Text/blight_resistance.png);
    position: relative;
}

statuseffectresistance {
    max-height: 15px;
    top: 3px;
    content: url(/aow4db/Icons/Text/status_resistance.png);
    position: relative;
}

defensespirit {
    max-height: 15px;
    top: 3px;
    content: url(/aow4db/Icons/Text/spirit_resistance.png);
    position: relative;
}

defensefrost {
    max-height: 15px;
    top: 3px;
    content: url(/aow4db/Icons/Text/frost_resistance.png);
    position: relative;
}

happiness {
    max-height: 15px;
    top: 3px;
    content: url(/aow4db/Icons/Text/happiness.png);
    position: relative;
}

hp {
    max-height: 15px;
    top: 3px;
    content: url(/aow4db/Icons/Text/health.png);
    position: relative;
}

temphp {
    max-height: 15px;
    top: 3px;
    content: url(/aow4db/Icons/Text/tempHitpoints.png);
    position: relative;
}

mp {
    max-height: 15px;
    top: 3px;
    content: url(/aow4db/Icons/Text/mp.png);
    position: relative;
}

accuracy {
    max-width: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/accuracy.png);
    position: relative;
}

range {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/range.png);
    position: relative;
}

souls {
    max-height: 20px;
    top: 3px;
    content: url(/aow4db/Icons/Text/souls.png);
    position: relative;
}

repeatingAction {
    max-width: 40px;
    content: url(/aow4db/Icons/Text/repeating.png);
    position: relative;
    padding-left: 10px;
    top: 6px;
}

singleUseAction {
    max-width: 40px;
    max-height: 20px;
    content: url(/aow4db/Icons/Text/single_action.png);
    position: relative;
    padding-left: 10px;
    top: 6px;
}

singleAction {
    max-width: 40px;
    content: url(/aow4db/Icons/Text/single_action.png);
    position: relative;
    padding-left: 10px;
    top: 6px;
}

fullAction {
    max-width: 40px;
    content: url(/aow4db/Icons/Text/full_action.png);
    position: relative;
    padding-left: 10px;
    top: 6px;
}

freeAction {
    max-width: 40px;
    content: url(/aow4db/Icons/Text/free_action.png);
    position: relative;
    padding-left: 10px;
    top: 6px;
}

leaveoneaction {
    max-width: 40px;
    content: url(/aow4db/Icons/Text/leave_one.png);
    position: relative;
    padding-left: 10px;
    top: 6px;
}
