<!DOCTYPE HTML>
<html lang="en">

<head>
    <link rel="shortcut icon" href="/aow3db/Icons/UI/icon.ico">
    <link rel="stylesheet" type="text/css" href="/aow3db/Data/style.css">
    <meta charset="UTF-8">
    <script type="text/javascript" language="javascript" src="/aow3db/Data/UnitAbilities.json"></script>
    <script type="text/javascript" language="javascript" src="/aow3db/Data/Units.json"></script>
    <script type="text/javascript" language="javascript" src="/aow3db/Data/Builder.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(function loadheader() {
            $("#header").load("/aow3db/Pages/header.html");
            $("#draconianhatchling").load("/aow3db/Pages/Units/Draconians/DraconianHatchling.html");
            $("#draconiancrusher").load("/aow3db/Pages/Units/Draconians/DraconianCrusher.html");
            $("#draconianflamer").load("/aow3db/Pages/Units/Draconians/DraconianFlamer.html");
            $("#draconiancharger").load("/aow3db/Pages/Units/Draconians/DraconianCharger.html");
            $("#draconianelder").load("/aow3db/Pages/Units/Draconians/DraconianElder.html");
            $("#draconianraptor").load("/aow3db/Pages/Units/Draconians/DraconianRaptor.html");
            $("#draconianflyer").load("/aow3db/Pages/Units/Draconians/DraconianFlyer.html");
        });
    </script>

    <title>AOW3 Database - Draconian Units</title>
</head>

<body>
    <div id="header"></div>

    <div class="unit_card">
        <p style="background-color:black; font-size: 26px" class="unit_name">Draconians</p>
        <img class="unit_image" src="/aow3db/Icons/Passives/draconian.png" style="position: relative; padding: 4px" width="100">
        <img src="/aow3db/PreviewGifs/StrategicMap/draconian.png" style="border-color:beige; border: 2px solid; float:right;position: relative; padding: 4px" width="150">

        <p>When the Human race rose to power, the race of dragons, especially the young dragons, suffered a terrible price. Among the Humans, dragons were more valuable dead than alive, hunted for glory, sport, money, and to mix in their foul-smelling potions. With no regard to the intelligent creatures that dragons might become in time, the humans devastated the dragon kin. The Dragons turned to the Wizards of Evermore, using powerful magic to create a new breed of followers. They sacrificed their remaining young for the power to keep the humans at bay. The dragons unleashed the power in their eggs, vowing that once they achieved supremacy they would reform themselves into ancient dragonkind again.<br><br>

            Draconians recover from their wounds more quickly than other races, and are resistant to fire while being more vulnerable to the cold. Most Draconian spell casters have the ability to hurl fire at their enemies.</p>
        <hr>
        <br>
        <p style="background-color:black; font-size: 26px" class="unit_name">Terrain and Traits</p>
        <div style="float:left; background-color: black; width:40%; padding: 10px; padding-left: 30px;padding-right: 30px">
            <h2 style="text-align: center">Terrain</h2>
            <hr>
            <li>Like: Barrens, Lava</li>
            <li>Dislike: Arctic</li>
            <li>Hate: Blighted</li>
        </div>
        <div style="float:right; background-color: black; width:40%; padding: 10px; padding-left: 30px;padding-right: 30px">
            <h2 style="text-align: center">Traits</h2>
            <hr>
            <li>20% <x-fire></x-fire> Protection</li>
            <li>20% <x-frost></x-frost> Weakness</li>
            <li>
                <div class="tooltip" style="color:aqua">Fast Healing<span class="tooltiptext2" id="fast_healing"></span></div>
            </li>

            <li>Cities generate +3 <x-mana></x-mana> Gold
            </li>

        </div>
        <div style="clear: both"></div>

        <br><br>
        <p style="background-color:black; font-size: 26px" class="unit_name">Draconian City Tech tree</p>
        <a href="https://imgur.com/aurhSYc">Full Tech Tree Image</a><br><br>
        <button class="collapsible">First Tier Draconian City Tech Tree</button>
        <div class="content">
            <p>
                <div style="padding-left: 30px;padding-right: 30px; padding: 10px;border: 1px solid;background-color: rgba(20, 20, 30, 1); border-color: rgba(255, 255, 200, 0.8);
   ;margin: 30px">
                    <img class="unit_image" src="/aow3db/Icons/Buildings/shrine.png" style="position: relative; padding: 4px" width="150">


                    <p>
                        <h2 style="float: left">Produce Shrine</h2>
                        <br><br>
                        <p style="float: left"> <span style="color:cadetblue; font-weight: bold">Building Cost: </span> 75 <x-gold>
                            </x-gold> / <x-production></x-production>
                        </p>
                        <div style="clear: both"></div>
                        <hr>

                        This city generates an additional +10 <x-mana></x-mana> per turn<br><br>
                        <span style="color:cadetblue; font-weight: bold">Unlocks Building:</span>
                        <li>Temple</li>
                        <span style="color:cadetblue; font-weight: bold">Unlocks Option:</span>
                        <li>Generate Mana</li>

                    </p>



                </div>

                <div style="padding-left: 30px;padding-right: 30px; padding: 10px;border: 1px solid; background-color: rgba(20, 20, 30, 1);  border-color: rgba(255, 255, 200, 0.8);
   ;margin: 30px">
                    <img class="unit_image" src="/aow3db/Icons/Buildings/barracks.png" style="position: relative; padding: 4px" width="150">


                    <p>
                        <h2 style="float: left">Produce Barracks</h2>
                        <br><br>
                        <p style="float: left"> <span style="color:cadetblue; font-weight: bold">Building Cost: </span> 100 <x-gold>
                            </x-gold> / <x-production></x-production>
                        </p>
                        <div style="clear: both"></div>
                        <hr>

                        Unlocks the production and Infantry and Archer units for this city<br><br>
                        <span style="color:cadetblue; font-weight: bold">Unlocks Building:</span>
                        <li>Shooting Grounds</li>
                        <li>War Hall</li>
                        <li>Arena</li>
                        <span style="color:cadetblue; font-weight: bold">Unlocks Units:</span>
                        <li>Draconian Crusher</li>
                        <li>Draconian Flamer</li>
                    </p>



                </div>
                <div style="padding-left: 30px;padding-right: 30px; padding: 10px;border: 1px solid; background-color: rgba(20, 20, 30, 1);  border-color: rgba(255, 255, 200, 0.8);
   ;margin: 30px">
                    <img class="unit_image" src="/aow3db/Icons/Buildings/store_house.png" style="position: relative; padding: 4px" width="150">


                    <p>
                        <h2 style="float: left">Produce Store House</h2>
                        <br><br>
                        <p style="float: left"> <span style="color:cadetblue; font-weight: bold">Building Cost: </span> 100 <x-gold>
                            </x-gold> / <x-production></x-production>
                        </p>
                        <div style="clear: both"></div>
                        <hr>

                        This city generates an additional +100 <x-population></x-population> Population<br><br>
                        <span style="color:cadetblue; font-weight: bold">Unlocks Building:</span>
                        <li>Public Baths</li>

                    </p>



                </div>


                <div style="padding-left: 30px;padding-right: 30px; padding: 10px;border: 1px solid; background-color: rgba(20, 20, 30, 1);  border-color: rgba(255, 255, 200, 0.8);
   ;margin: 30px">
                    <img class="unit_image" src="/aow3db/Icons/Buildings/wooden_wall.png" style="position: relative; padding: 4px" width="150">


                    <p>
                        <h2 style="float: left">Produce Wooden Wall</h2>
                        <br><br>
                        <p style="float: left"> <span style="color:cadetblue; font-weight: bold">Building Cost: </span> 100 <x-gold>
                            </x-gold> / <x-production></x-production>
                        </p>
                        <div style="clear: both"></div>
                        <hr>

                        This city gains a Wooden Wall<br><br>
                        <span style="color:cadetblue; font-weight: bold">Unlocks Building:</span>
                        <li>Stone Wall (with Builders' Hall)</li>

                    </p>



                </div>
                <div style="padding-left: 30px;padding-right: 30px; padding: 10px;border: 1px solid; background-color: rgba(20, 20, 30, 1);  border-color: rgba(255, 255, 200, 0.8);
   ;margin: 30px">
                    <img class="unit_image" src="/aow3db/Icons/Buildings/builders_hall.png" style="position: relative; padding: 4px" width="150">


                    <p>
                        <h2 style="float: left">Produce Builders' Hall</h2>
                        <br><br>
                        <p style="float: left"> <span style="color:cadetblue; font-weight: bold">Building Cost: </span> 100 <x-gold>
                            </x-gold> / <x-production></x-production>
                        </p>
                        <div style="clear: both"></div>
                        <hr>

                        This city generates an additional +20 <x-production></x-production> Production and unlocks the production of Settler and Builder units<br><br>
                        <span style="color:cadetblue; font-weight: bold">Unlocks Building:</span>
                        <li>Stone Wall (with Wooden Wall)</li>
                        <li>Siege Workshop</li>
                        <span style="color:cadetblue; font-weight: bold">Unlocks Units:</span>
                        <li>Draconian Builder</li>
                        <li>Draconian Settler</li>
                    </p>



                </div>
                <div style="padding-left: 30px;padding-right: 30px; padding: 10px;border: 1px solid; background-color: rgba(20, 20, 30, 1);  border-color: rgba(255, 255, 200, 0.8);
   ;margin: 30px">
                    <img class="unit_image" src="/aow3db/Icons/Buildings/laboratory.png" style="position: relative; padding: 4px" width="150">


                    <p>
                        <h2 style="float: left">Produce Laboratory</h2>
                        <br><br>
                        <p style="float: left"> <span style="color:cadetblue; font-weight: bold">Building Cost: </span> 75 <x-gold>
                            </x-gold> 50 <x-mana></x-mana>/ 125 <x-production></x-production>
                        </p>
                        <div style="clear: both"></div>
                        <hr>

                        This city benerates an additional +10 <x-knowledge></x-knowledge> Knowledge
                        Support units produced at this city gain an additional <x-medal_trooper></x-medal_trooper> Medal<br><br>
                        <span style="color:cadetblue; font-weight: bold">Unlocks Building:</span>
                        <li>Observatory</li>
                        <li>Seek Knowledge</li>

                    </p>



                </div>
                <div style="padding-left: 30px;padding-right: 30px; padding: 10px;border: 1px solid; background-color: rgba(20, 20, 30, 1);  border-color: rgba(255, 255, 200, 0.8);
   ;margin: 30px">
                    <img class="unit_image" src="/aow3db/Icons/Buildings/first_class_building.png" style="position: relative; padding: 4px" width="150">


                    <p>
                        <h2 style="float: left">Produce First Class Building</h2>
                        <br><br>

                        <div style="clear: both"></div>
                        <hr>

                        See Class Unit pages for info
                        <br><br>
                        <span style="color:cadetblue; font-weight: bold">Unlocks Building:</span>

                        <li>Second Class Building</li>

                    </p>
                </div>
                <div style="padding-left: 30px;padding-right: 30px; padding: 10px;border: 1px solid; background-color: rgba(20, 20, 30, 1);  border-color: rgba(255, 255, 200, 0.8);
   ;margin: 30px">
                    <img class="unit_image" src="/aow3db/Icons/Buildings/harbor.png" style="position: relative; padding: 4px" width="150">


                    <p>
                        <h2 style="float: left">(when Water is within domain)Produce Harbor</h2>
                        <br><br>
                        <p style="float: left"> <span style="color:cadetblue; font-weight: bold">Building Cost: </span> 100 <x-gold>
                            </x-gold> / 100 <x-production></x-production>
                        </p>
                        <div style="clear: both"></div>
                        <hr>

                        Unlocks the production of ships
                        <br><br>
                        <span style="color:cadetblue; font-weight: bold">Unlocks Units:</span>

                        <li>Frigate Warship(Requires Basic Seafaring)</li>
                        <li>Galleon Warship(Requires Advanced Seafaring)</li>

                    </p>


                </div>
                <div style="padding-left: 30px;padding-right: 30px; padding: 10px;border: 1px solid; background-color: rgba(20, 20, 30, 1);  border-color: rgba(255, 255, 200, 0.8);
   ;margin: 30px">
                    <img class="unit_image" src="/aow3db/Icons/Buildings/merchandise.png" style="position: relative; padding: 4px" width="150">


                    <p>
                        <h2 style="float: left">Merchandise</h2>
                        <br><br>

                        <div style="clear: both"></div>
                        <hr>
                        Inreases <x-gold></x-gold> Gold income by 50%
                        <br><br>

                    </p>
                </div>
                <div style="padding-left: 30px;padding-right: 30px; padding: 10px;border: 1px solid; background-color: rgba(20, 20, 30, 1);  border-color: rgba(255, 255, 200, 0.8);
   ;margin: 30px">
                    <img class="unit_image" src="/aow3db/Icons/Buildings/housing.png" style="position: relative; padding: 4px" width="150">


                    <p>
                        <h2 style="float: left">Build Housing</h2>
                        <br><br>

                        <div style="clear: both"></div>
                        <hr>
                        Inreases <x-population></x-population> City Population income by 50%
                        <br><br>

                    </p>
                </div>
            </p>
        </div>
        <button class="collapsible">Second Tier Draconian City Tech Tree</button>
        <div class="content">
            <p>
                <div style="padding-left: 30px;padding-right: 30px; padding: 10px;border: 1px solid;background-color: rgba(20, 20, 30, 1); border-color: rgba(255, 255, 200, 0.8);
   ;margin: 30px">
                    <img class="unit_image" src="/aow3db/Icons/Buildings/temple.png" style="position: relative; padding: 4px" width="150">


                    <p>
                        <h2 style="float: left">Produce Temple (requires Shrine)</h2>
                        <br><br>
                        <p style="float: left"> <span style="color:cadetblue; font-weight: bold">Building Cost: </span> 100 <x-gold>
                            </x-gold> 50<x-mana></x-mana> / 150 <x-production></x-production>
                        </p>
                        <div style="clear: both"></div>
                        <hr>

                        This city generates an additional +10 <x-mana></x-mana> per turn and unlocks the production of Support units<br><br>
                        <span style="color:cadetblue; font-weight: bold">Unlocks Building:</span>
                        <li>Great Temple</li>
                        <span style="color:cadetblue; font-weight: bold">Unlocks Units:</span>
                        <li>Draconian Elder</li>

                    </p>



                </div>
                <div style="padding-left: 30px;padding-right: 30px; padding: 10px;border: 1px solid;background-color: rgba(20, 20, 30, 1); border-color: rgba(255, 255, 200, 0.8);
   ;margin: 30px">
                    <img class="unit_image" src="/aow3db/Icons/Buildings/shooting_grounds.png" style="position: relative; padding: 4px" width="150">


                    <p>
                        <h2 style="float: left">Produce Shooting Grounds (requires Barracks)</h2>
                        <br><br>
                        <p style="float: left"> <span style="color:cadetblue; font-weight: bold">Building Cost: </span> 50 <x-gold>
                            </x-gold>/ <x-production></x-production>
                        </p>
                        <div style="clear: both"></div>
                        <hr>

                        Archer units produced at this city gain an additional <x-medal_trooper></x-medal_trooper> Medal<br><br>


                    </p>



                </div>
                <div style="padding-left: 30px;padding-right: 30px; padding: 10px;border: 1px solid;background-color: rgba(20, 20, 30, 1); border-color: rgba(255, 255, 200, 0.8);
   ;margin: 30px">
                    <img class="unit_image" src="/aow3db/Icons/Buildings/war_hall.png" style="position: relative; padding: 4px" width="150">


                    <p>
                        <h2 style="float: left">Produce War Hall (requires Barracks)</h2>
                        <br><br>
                        <p style="float: left"> <span style="color:cadetblue; font-weight: bold">Building Cost: </span> 125 <x-gold>
                            </x-gold> 50<x-mana></x-mana> / 150 <x-production></x-production>
                        </p>
                        <div style="clear: both"></div>
                        <hr>

                        Unlocks the production of Pikeman and Cavalry units for this city<br><br>
                        <span style="color:cadetblue; font-weight: bold">Unlocks Building:</span>
                        <li>Guard House</li>
                        <li>Riders' Hall</li>
                        <li>Fire Temple</li>
                        <span style="color:cadetblue; font-weight: bold">Unlocks Units:</span>
                        <li>Draconian Charger</li>
                        <li>Draconian Raptor</li>
                    </p>



                </div>
                <div style="padding-left: 30px;padding-right: 30px; padding: 10px;border: 1px solid;background-color: rgba(20, 20, 30, 1); border-color: rgba(255, 255, 200, 0.8);
   ;margin: 30px">
                    <img class="unit_image" src="/aow3db/Icons/Buildings/arena.png" style="position: relative; padding: 4px" width="150">


                    <p>
                        <h2 style="float: left">Produce Arena (requires Barracks)</h2>
                        <br><br>
                        <p style="float: left"> <span style="color:cadetblue; font-weight: bold">Building Cost: </span> 50 <x-gold>
                            </x-gold>/ <x-production></x-production>
                        </p>
                        <div style="clear: both"></div>
                        <hr>

                        Infantry units produced at this city gain an additional <x-medal_trooper></x-medal_trooper> Medal<br><br>


                    </p>



                </div>
                <div style="padding-left: 30px;padding-right: 30px; padding: 10px;border: 1px solid;background-color: rgba(20, 20, 30, 1); border-color: rgba(255, 255, 200, 0.8);
   ;margin: 30px">
                    <img class="unit_image" src="/aow3db/Icons/Buildings/public_baths.png" style="position: relative; padding: 4px" width="150">


                    <p>
                        <h2 style="float: left">Produce Public Baths (requires Store House)</h2>
                        <br><br>
                        <p style="float: left"> <span style="color:cadetblue; font-weight: bold">Building Cost: </span> 150 <x-gold>
                            </x-gold>/ <x-production></x-production>
                        </p>
                        <div style="clear: both"></div>
                        <hr>

                        This city generates an additional +100 <x-morale></x-morale> Happiness<br><br>
                        <span style="color:cadetblue; font-weight: bold">Unlocks Building:</span>
                        <li>Hospital</li>

                    </p>
                </div>
                <div style="padding-left: 30px;padding-right: 30px; padding: 10px;border: 1px solid;background-color: rgba(20, 20, 30, 1); border-color: rgba(255, 255, 200, 0.8);
   ;margin: 30px">
                    <img class="unit_image" src="/aow3db/Icons/Buildings/stone_wall.png" style="position: relative; padding: 4px" width="150">


                    <p>
                        <h2 style="float: left">Produce Stone Wall (requires Wooden Wall)</h2>
                        <br><br>
                        <p style="float: left"> <span style="color:cadetblue; font-weight: bold">Building Cost: </span> 100 <x-gold>
                            </x-gold>/ <x-production></x-production>
                        </p>
                        <div style="clear: both"></div>
                        <hr>

                        This city gains a Stone Wall and gains a +1 Domain radius<br><br>


                    </p>



                </div>
                <div style="padding-left: 30px;padding-right: 30px; padding: 10px;border: 1px solid;background-color: rgba(20, 20, 30, 1); border-color: rgba(255, 255, 200, 0.8);
   ;margin: 30px">
                    <img class="unit_image" src="/aow3db/Icons/Buildings/siege_workshop.png" style="position: relative; padding: 4px" width="150">


                    <p>
                        <h2 style="float: left">Produce Siege Workshop (requires Builders' Hall)</h2>
                        <br><br>
                        <p style="float: left"> <span style="color:cadetblue; font-weight: bold">Building Cost: </span> 150 <x-gold>
                            </x-gold>/ <x-production></x-production>
                        </p>
                        <div style="clear: both"></div>
                        <hr>

                        This city generates an additional +10 <x-production></x-production> Production and unlocks the production of Trebuchet units.<br><br>
                        <span style="color:cadetblue; font-weight: bold">Unlocks Building:</span>
                        <li>Masters' Guild</li>
                        <li>Firestorm Pillar</li>
                        <span style="color:cadetblue; font-weight: bold">Unlocks Units:</span>
                        <li>Trebuchet</li>
                    </p>
                </div>
                <div style="padding-left: 30px;padding-right: 30px; padding: 10px;border: 1px solid;background-color: rgba(20, 20, 30, 1); border-color: rgba(255, 255, 200, 0.8);
   ;margin: 30px">
                    <img class="unit_image" src="/aow3db/Icons/Buildings/observatory.png" style="position: relative; padding: 4px" width="150">


                    <p>
                        <h2 style="float: left">Produce Observatory (requires Laboratory)</h2>
                        <br><br>
                        <p style="float: left"> <span style="color:cadetblue; font-weight: bold">Building Cost: </span> 100 <x-gold>
                            </x-gold> 50 <x-mana></x-mana>/ 150 <x-production></x-production>
                        </p>
                        <div style="clear: both"></div>
                        <hr>

                        This city generates an additional +10 <x-knowledge></x-knowledge> Knowledge and gains a +1 Domain radius <br><br>
                        <span style="color:cadetblue; font-weight: bold">Unlocks Building:</span>
                        <li>Arcane Item Forge</li>
                        <li>Grand Palace (requires: Great Temple+Master's Guild + Hospital)</li>

                    </p>
                </div>
                <div style="padding-left: 30px;padding-right: 30px; padding: 10px;border: 1px solid;background-color: rgba(20, 20, 30, 1); border-color: rgba(255, 255, 200, 0.8);
   ;margin: 30px">
                    <img class="unit_image" src="/aow3db/Icons/Buildings/second_class_building.png" style="position: relative; padding: 4px" width="150">


                    <p>
                        <h2 style="float: left">Produce Second Class Building (requires First Class Building)</h2>
                        <br><br>

                        <div style="clear: both"></div>
                        <hr>

                        See Class Unit pages for info <br><br>
                        <span style="color:cadetblue; font-weight: bold">Unlocks Building:</span>
                        <li>Third Class Building</li>

                    </p>
                </div>
                <div style="padding-left: 30px;padding-right: 30px; padding: 10px;border: 1px solid; background-color: rgba(20, 20, 30, 1);  border-color: rgba(255, 255, 200, 0.8);
   ;margin: 30px">
                    <img class="unit_image" src="/aow3db/Icons/Buildings/seek_knowledge.png" style="position: relative; padding: 4px" width="150">


                    <p>
                        <h2 style="float: left">Seek Knowledge</h2>
                        <br><br>

                        <div style="clear: both"></div>
                        <hr>
                        Inreases <x-knowledge></x-knowledge> Knowledge income by 50%
                        <br><br>

                    </p>
                </div>
                <div style="padding-left: 30px;padding-right: 30px; padding: 10px;border: 1px solid; background-color: rgba(20, 20, 30, 1);  border-color: rgba(255, 255, 200, 0.8);
   ;margin: 30px">
                    <img class="unit_image" src="/aow3db/Icons/Buildings/generate_mana.png" style="position: relative; padding: 4px" width="150">


                    <p>
                        <h2 style="float: left">Generate Mana</h2>
                        <br><br>

                        <div style="clear: both"></div>
                        <hr>
                        Inreases <x-mana></x-mana> Mana income by 50%
                        <br><br>

                    </p>
                </div>
            </p>
        </div>
        <button class="collapsible">Third Tier Draconian City Tech Tree</button>
        <div class="content">
            <p>
                <div style="padding-left: 30px;padding-right: 30px; padding: 10px;border: 1px solid; background-color: rgba(20, 20, 30, 1);  border-color: rgba(255, 255, 200, 0.8);
   ;margin: 30px">
                    <img class="unit_image" src="/aow3db/Icons/Buildings/great_temple.png" style="position: relative; padding: 4px" width="150">


                    <p>
                        <h2 style="float: left">Produce Great Temple (requires Temple)</h2>
                        <br><br>
                        <p style="float: left"> <span style="color:cadetblue; font-weight: bold">Building Cost: </span> 150 <x-gold>
                            </x-gold> 50 <x-mana></x-mana>/ 200 <x-production></x-production>
                        </p>
                        <div style="clear: both"></div>
                        <hr>

                        This city generates an additional +10
                        <x-mana></x-mana> Mana and +100
                        image
                        <x-mana></x-mana> Mana Capacity
                        <br><br>
                        <span style="color:cadetblue; font-weight: bold">Unlocks Building:</span>


                        <li>Grand Palace (requires Masters'Guild+Hospital+Observatory)</li>

                    </p>


                </div>
                <div style="padding-left: 30px;padding-right: 30px; padding: 10px;border: 1px solid;background-color: rgba(20, 20, 30, 1); border-color: rgba(255, 255, 200, 0.8);
   ;margin: 30px">
                    <img class="unit_image" src="/aow3db/Icons/Buildings/guard_house.png" style="position: relative; padding: 4px" width="150">


                    <p>
                        <h2 style="float: left">Produce Guard House (requires War Hall)</h2>
                        <br><br>
                        <p style="float: left"> <span style="color:cadetblue; font-weight: bold">Building Cost: </span> 50 <x-gold>
                            </x-gold>/ <x-production></x-production>
                        </p>
                        <div style="clear: both"></div>
                        <hr>

                        Pikeman units produced at this city gain an additional <x-medal_trooper></x-medal_trooper> Medal<br><br>


                    </p>



                </div>
                <div style="padding-left: 30px;padding-right: 30px; padding: 10px;border: 1px solid;background-color: rgba(20, 20, 30, 1); border-color: rgba(255, 255, 200, 0.8);
   ;margin: 30px">
                    <img class="unit_image" src="/aow3db/Icons/Buildings/riders_hall.png" style="position: relative; padding: 4px" width="150">


                    <p>
                        <h2 style="float: left">Produce Riders' Hall (requires War Hall)</h2>
                        <br><br>
                        <p style="float: left"> <span style="color:cadetblue; font-weight: bold">Building Cost: </span> 50 <x-gold>
                            </x-gold>/ <x-production></x-production>
                        </p>
                        <div style="clear: both"></div>
                        <hr>

                        Cavalry units produced at this city gain an additional <x-medal_trooper></x-medal_trooper> Medal<br><br>


                    </p>



                </div>
                <div style="padding-left: 30px;padding-right: 30px; padding: 10px;border: 1px solid;background-color: rgba(20, 20, 30, 1); border-color: rgba(255, 255, 200, 0.8);
   ;margin: 30px">
                    <img class="unit_image" src="/aow3db/Icons/Buildings/peak_of_the_forefathers.png" style="position: relative; padding: 4px" width="150">


                    <p>
                        <h2 style="float: left">Produce Peak of the Forefathers (requires War Hall)</h2>
                        <br><br>
                        <p style="float: left"> <span style="color:cadetblue; font-weight: bold">Building Cost: </span> 300 <x-gold>
                            </x-gold> 100 <x-mana></x-mana>/ 400 <x-production></x-production>
                        </p>
                        <div style="clear: both"></div>
                        <hr>

                        Unlocks the production of special Racial units for this city.
                        Tier I and Tier II units produced at this city gain an additional <x-medal_trooper></x-medal_trooper> Medal<br><br>
                        <span style="color:cadetblue; font-weight: bold">Unlocks Units:</span>


                        <li>Draconian Flyer</li>

                    </p>



                </div>
                <div style="padding-left: 30px;padding-right: 30px; padding: 10px;border: 1px solid;background-color: rgba(20, 20, 30, 1); border-color: rgba(255, 255, 200, 0.8);
   ;margin: 30px">
                    <img class="unit_image" src="/aow3db/Icons/Buildings/hospital.png" style="position: relative; padding: 4px" width="150">


                    <p>
                        <h2 style="float: left">Produce Hospital (requires Public Baths)</h2>
                        <br><br>
                        <p style="float: left"> <span style="color:cadetblue; font-weight: bold">Building Cost: </span> 250 <x-gold>
                            </x-gold> /<x-production></x-production>
                        </p>
                        <div style="clear: both"></div>
                        <hr>

                        This city generates an additional +100 <x-morale></x-morale> Happiness, +100 <x-population></x-population> Population and regenerates
                        <x-hp></x-hp> Hitpoints of garrisoned units that are neither Machine nor Undead<br><br>
                        <span style="color:cadetblue; font-weight: bold">Unlocks Building:</span>


                        <li>Grand Palace (requires Great Temple+Masters' Guild+Observatory)</li>

                    </p>



                </div>
                <div style="padding-left: 30px;padding-right: 30px; padding: 10px;border: 1px solid;background-color: rgba(20, 20, 30, 1); border-color: rgba(255, 255, 200, 0.8);
   ;margin: 30px">
                    <img class="unit_image" src="/aow3db/Icons/Buildings/masters_guild.png" style="position: relative; padding: 4px" width="150">


                    <p>
                        <h2 style="float: left">Produce Masters' Guild (requires Siege Workshop)</h2>
                        <br><br>
                        <p style="float: left"> <span style="color:cadetblue; font-weight: bold">Building Cost: </span> 250 <x-gold>
                            </x-gold> /<x-production></x-production>
                        </p>
                        <div style="clear: both"></div>
                        <hr>

                        This city generates an additional +15 <x-production></x-production> Production and regenerates
                        <x-hp></x-hp> Hitpoints of garrisoned Machine units.
                        Machine units produced at this city gain an additional
                        <x-medal_trooper></x-medal_trooper> Medal.
                        Builder units produced in this city gain the <div class="tooltip" style="color:aqua">Repair Machine<span class="tooltiptext2" id="repair_machine"></span></div> <br><br>
                        <span style="color:cadetblue; font-weight: bold">Unlocks Building:</span>


                        <li>Grand Palace (requires Great Temple+Hospital+Observatory)</li>

                    </p>



                </div>
                <div style="padding-left: 30px;padding-right: 30px; padding: 10px;border: 1px solid;background-color: rgba(20, 20, 30, 1); border-color: rgba(255, 255, 200, 0.8);
   ;margin: 30px">
                    <img class="unit_image" src="/aow3db/Icons/Buildings/firestorm_pillar.png" style="position: relative; padding: 4px" width="150">


                    <p>
                        <h2 style="float: left">Produce Firestorm Pillar (requires Siege Workshop)</h2>
                        <br><br>
                        <p style="float: left"> <span style="color:cadetblue; font-weight: bold">Building Cost: </span> 75 <x-gold>
                            </x-gold> 25 <x-mana></x-mana>/ 100 <x-production></x-production>
                        </p>
                        <div style="clear: both"></div>
                        <hr>

                        Creates a pillar of fire which obliterates enemy units.
                        Deals 4 <x-physical></x-physical> and 8 <x-fire></x-fire> damage to all enemy units in a 1 hex radius around a random enemy unit each combat round.
                        Enemies behind the city walls cannot be targeted. <br><br>

                        <span style="color:cadetblue; font-weight: bold">Unlocks Option:</span>


                        <li>Forge Item</li>

                    </p>



                </div>
                <div style="padding-left: 30px;padding-right: 30px; padding: 10px;border: 1px solid;background-color: rgba(20, 20, 30, 1); border-color: rgba(255, 255, 200, 0.8);
   ;margin: 30px">
                    <img class="unit_image" src="/aow3db/Icons/Buildings/arcane_item_forge.png" style="position: relative; padding: 4px" width="150">


                    <p>
                        <h2 style="float: left">Produce Arcane Item Forge (requires Observatory)</h2>
                        <br><br>
                        <p style="float: left"> <span style="color:cadetblue; font-weight: bold">Building Cost: </span> 200 <x-gold>
                            </x-gold> 50 <x-mana></x-mana>/ 250 <x-production></x-production>
                        </p>
                        <div style="clear: both"></div>
                        <hr>

                        This city generates an additional +10 <x-knowledge></x-knowledge> Knowledge and unlocks the production of items (not buildable in campaigns) <br><br>


                    </p>



                </div>
                <div style="padding-left: 30px;padding-right: 30px; padding: 10px;border: 1px solid; background-color: rgba(20, 20, 30, 1);  border-color: rgba(255, 255, 200, 0.8);
   ;margin: 30px">
                    <img class="unit_image" src="/aow3db/Icons/Buildings/third_class_building.png" style="position: relative; padding: 4px" width="150">


                    <p>
                        <h2 style="float: left">Produce Third Class Building</h2>
                        <br><br>

                        <div style="clear: both"></div>
                        <hr>

                        See Class Unit pages for info
                        <br><br>


                    </p>
                </div>

            </p>
        </div>
        <button class="collapsible">Fourth Tier Draconian City Tech Tree</button>
        <div class="content">
            <p>
                <div style="padding-left: 30px;padding-right: 30px; padding: 10px;border: 1px solid; background-color: rgba(20, 20, 30, 1);  border-color: rgba(255, 255, 200, 0.8);
   ;margin: 30px">
                    <img class="unit_image" src="/aow3db/Icons/Buildings/grand_palace.png" style="position: relative; padding: 4px" width="150">


                    <p>
                        <h2 style="float: left">Produce Grand Palace(requires Great Temple + Hospital + Observatory + Masters' Guild)</h2>
                        <br><br>
                        <p style="float: left"> <span style="color:cadetblue; font-weight: bold">Building Cost: </span> 350 <x-gold>
                            </x-gold>/ <x-production></x-production>
                        </p>
                        <div style="clear: both"></div>
                        <hr>

                        This city generates an additional +100 <x-morale></x-morale> Happiness and gains a +1 Domain radius.
                        Your leader gains an additional +10 <x-casting_points></x-casting_points> Casting Points
                        <br><br>


                    </p>
                </div>
                <div style="padding-left: 30px;padding-right: 30px; padding: 10px;border: 1px solid; background-color: rgba(20, 20, 30, 1);  border-color: rgba(255, 255, 200, 0.8);
   ;margin: 30px">
                    <img class="unit_image" src="/aow3db/Icons/Buildings/arcane_item_forge.png" style="position: relative; padding: 4px" width="150">


                    <p>
                        <h2 style="float: left">Forge Item</h2>
                        <br><br>
                        <p style="float: left"> <span style="color:cadetblue; font-weight: bold">Building Cost:</span> Depends on Item
                        </p>
                        <div style="clear: both"></div>
                        <hr>

                        Forge an Item
                        <br><br>


                    </p>
                </div>
            </p>
        </div>
        <div class="unit_ability_holder" id="buildnameholder1" style="width: 100%; display:table;">




        </div>
        <div style="clear: both"></div>

        <br><br>
        <p style="background-color:black; font-size: 26px" class="unit_name">Draconian Race Governance</p>
        <button class="collapsible">Draconian Governance</button>
        <div class="content">
            <p>
                <div style="float:left; background-color: black; width:40%; padding: 10px; padding-left: 30px;padding-right: 30px;border: 1px solid; background-color: rgba(20, 20, 30, 1);  border-color: rgba(255, 255, 200, 0.8);">
                    <h2 style="text-align: center;color:firebrick">Patron Military</h2>
                    <hr>
                    <p style="font-size: 18px">Draconian Flamers gain +1 <x-defense></x-defense> and +5 <x-hp></x-hp> Hit Points
                    </p>

                </div>

                <div style="float:right; background-color: black; width:40%; padding: 10px; padding-left: 30px;padding-right: 30px;border: 1px solid; background-color: rgba(20, 20, 30, 1);  border-color: rgba(255, 255, 200, 0.8);">
                    <h2 style="text-align: center; color:darkgoldenrod">Patron Economic</h2>
                    <hr>
                    <p style="font-size: 18px">All Shrines in Draconian Cities are 35 <x-gold></x-gold> Gold cheaper to produce
                    </p>


                </div>
                <div style="clear: both"></div><br><br>
                <div style="float:left; background-color: black; width:40%; padding: 10px; padding-left: 30px;padding-right: 30px;border: 1px solid; background-color: rgba(20, 20, 30, 1);  border-color: rgba(255, 255, 200, 0.8);">
                    <h2 style="text-align: center; color: firebrick">Protector Military</h2>
                    <hr>
                    <p style="font-size: 18px">Draconian Crushers and Chargers gain the </p>
                    <div class="tooltip" style="color:aqua">Regrowth<span class="tooltiptext2" id="regrowth"></span></div>
                    <p style="font-size: 18px">ability
                    </p>

                </div>
                <div style="float:right; background-color: black; width:40%; padding: 10px; padding-left: 30px;padding-right: 30px;border: 1px solid; background-color: rgba(20, 20, 30, 1);  border-color: rgba(255, 255, 200, 0.8);">
                    <h2 style="text-align: center; color:darkgoldenrod">Protector Economic</h2>
                    <hr>
                    <p style="font-size: 18px">Magma Forges in the domain of Draconian Cities generate an additional +10 <x-production></x-production> Production
                    </p>


                </div>
                <div style="clear: both"></div>
                <br><br>
                <div style="float:left; background-color: black; width:40%; padding: 10px; padding-left: 30px;padding-right: 30px;border: 1px solid; background-color: rgba(20, 20, 30, 1);  border-color: rgba(255, 255, 200, 0.8);">
                    <h2 style="text-align: center; color: firebrick">Champion Military</h2>
                    <hr>
                    <p style="font-size: 18px">All your Draconian Support units are 20% cheaper
                    </p>

                </div>
                <div style="float:right; background-color: black; width:40%; padding: 10px; padding-left: 30px;padding-right: 30px;border: 1px solid; background-color: rgba(20, 20, 30, 1);  border-color: rgba(255, 255, 200, 0.8);">
                    <h2 style="text-align: center; color:darkgoldenrod">Champion Economic</h2>
                    <hr>
                    <p style="font-size: 18px">Your Leader and all your Draconian Heroes receive +10 <x-casting_points></x-casting_points> Casting Points each
                    </p>


                </div>
                <div style="clear: both"></div><br><br>
                <div style="float:left; background-color: black; width:40%; padding: 10px; padding-left: 30px;padding-right: 30px;border: 1px solid; background-color: rgba(20, 20, 30, 1);  border-color: rgba(255, 255, 200, 0.8);">
                    <h2 style="text-align: center; color: firebrick">Prophet Military</h2>
                    <hr>
                    <p style="font-size: 18px">Draconian Flyers gain +6 <x-mp></x-mp> and the </p>
                    <div class="tooltip" style="color:aqua">Martial Arts<span class="tooltiptext2" id="martial_arts"></span></div>
                    <p style="font-size: 18px">ability
                    </p>

                </div>
                <div style="float:right; background-color: black; width:40%; padding: 10px; padding-left: 30px;padding-right: 30px;border: 1px solid; background-color: rgba(20, 20, 30, 1);  border-color: rgba(255, 255, 200, 0.8);">
                    <h2 style="text-align: center; color:darkgoldenrod">Prophet Economic</h2>
                    <hr>
                    <p style="font-size: 18px">The Peak of the Forefathers is 100 <x-gold></x-gold> Gold cheaper and Cities with it get an additional +2 vision range. Every unit produced in a City with a Peak of the Forefathers receives an extra <x-medal_trooper></x-medal_trooper> Medal
                    </p>


                </div>
                <div style="clear: both"></div><br><br>
                <div style="float:left; background-color: black; width:40%; padding: 10px; padding-left: 30px;padding-right: 30px;border: 1px solid; background-color: rgba(20, 20, 30, 1);  border-color: rgba(255, 255, 200, 0.8);">
                    <h2 style="text-align: center; color: firebrick">Deity Military</h2>
                    <hr>
                    <p style="font-size: 18px">All Draconian Irregular, Infantry, and Pikeman units deal +4 additional <x-fire></x-fire> damage
                    </p>

                </div>
                <div style="float:right; background-color: black; width:40%; padding: 10px; padding-left: 30px;padding-right: 30px;border: 1px solid; background-color: rgba(20, 20, 30, 1);  border-color: rgba(255, 255, 200, 0.8);">
                    <h2 style="text-align: center; color:darkgoldenrod">Deity Economic</h2>
                    <hr>
                    <p style="font-size: 18px">All Draconian Cities with Great Temples generate an additional +20 <x-knowledge></x-knowledge> Knowledge, +20 <x-mana></x-mana> Mana and +200 <x-morale></x-morale> Happiness(+20 <x-production></x-production> Production for Necromancer)
                    </p>


                </div>
                <div style="clear: both"></div>
            </p>
        </div>
    </div>

    <br><br>
    <div id="draconianhatchling"></div>
    <br><br>
    <div id="draconiancrusher"></div>
    <br><br>
    <div id="draconianflamer"></div>
    <br><br>
    <div id="draconiancharger"></div>
    <br><br>
    <div id="draconianelder"></div>
    <br><br>
    <div id="draconianraptor"></div>
    <br><br>
    <div id="draconianflyer"></div>
    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.maxHeight) {
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                }
            });
        }
    </script>
</body></html>
